/* Reset and basic styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    font-family: 'Arial', sans-serif; /* Replace with the actual font used in the design */
}

body {
    color: white;
    background-color: #000; /* Assuming a black background */
    display: flex;
}

/* Sidebar styles */
.sidebar {
    background-color: rgba(0, 0, 0, 0.8); /* Slightly transparent black */
    width: 25%; /* Sidebar takes up 25% of the body's width */
    padding: 2em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sidebar ul {
    list-style: none;
}

.sidebar ul li {
    margin-bottom: 1em;
}

.sidebar ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 24px; /* Adjust as needed */
    transition: color 0.3s ease;
}

.sidebar ul li a:hover {
    color: #1e90ff; /* Highlight color on hover */
}

/* Main content styles */
.main-content {
    flex-grow: 1; /* Fill the remaining space */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3em;
}

.planet-info {
    max-width: 600px; /* Maximum width of the text container */
    margin-bottom: 2em;
}

.planet-info h1 {
    font-size: 3em; /* Large font size for the title */
    margin-bottom: 0.5em;
}

.planet-info p {
    font-size: 1.2em; /* Slightly larger font size for the paragraph */
    line-height: 1.6; /* Spacing between lines */
}

/* Visualization styles */
.planet-visualization {
    width: 100%; /* Take the full width of the main content */
    height: 500px; /* Fixed height */
    position: relative;
}

/* Return button styles */
#returnButton {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px 20px;
    background: #333; /* Dark background for the button */
    border: none;
    border-radius: 5px; /* Rounded corners */
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#returnButton:hover {
    background-color: #555; /* Slightly lighter on hover */
}

/* Add media queries for responsiveness */
@media (max-width: 768px) {
    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
        flex-direction: row;
        padding: 1em;
        justify-content: space-around;
    }

    .main-content {
        padding: 1em;
    }

    .planet-info {
        text-align: center;
    }

    .planet-visualization {
        height: 300px;
    }

    #returnButton {
        bottom: 10px;
        right: 10px;
        padding: 5px 10px;
        font-size: 14px;
    }
}
